src/conf/xml-resources/web-service-references/HistoriaClinica/wsdl/localhost_8080/ParcialArqSoft/HistoriaClinica.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.udea.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.udea.com/">

<xs:element name="registrar" type="tns:registrar"/>

<xs:complexType name="registrar">
<xs:sequence>
<xs:element name="cedula" type="xs:int"/>
<xs:element name="nombre_paciente" type="xs:string" minOccurs="0"/>
<xs:element name="nombre_medico" type="xs:string" minOccurs="0"/>
<xs:element name="fecha" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>